<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="create-form">
  <div class="card container search">
    <br>
    <div class="container select-style">
      <label>
        <i class="fa fa-map-marker" aria-hidden="true"></i>Estados:</label>
      <select select class="custom-select" [(ngModel)]="state" (change)="ngOnChanges(state)">
        <option value="" selected disabled>Escolha um Estado</option>
        <option *ngFor="let st of states" [value]="st.id">{{st.sigla}}</option>
      </select>
    </div>
    <div class="container select-style" *ngIf="state!=null">
      <label>
        <i class="fa fa-street-view" aria-hidden="true"></i>Municipio:</label>
      <select select class="custom-select" [(ngModel)]="city" (change)="ngOnChanges(city)">
        <option value="" selected disabled>Escolha um Município</option>
        <option *ngFor="let ct of cities" [value]="ct">{{ct}}</option>
      </select>
    </div>
  </div>
</div>
