<form>
    <p class="h3 text-center mb-4"> Cadastro Conselheiro </p>

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control" placeholder="Nome Completo">
    </div>

    <div class="md-form">
        <i class="fa fa-address-card prefix grey-text"></i>
        <input type="text" id="orangeForm-cpf" class="form-control" placeholder="CPF">
    </div>

    <div class="md-form">
        <i class="fa fa-home prefix grey-text"></i>
        <input type="text" id="orangeForm-segmento" class="form-control" placeholder="Segmento">
    </div>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control" placeholder="Email">
    </div>

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" placeholder="Senha">
    </div>

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" placeholder="Confirmar Senha">
    </div>

    <div class="text-center">
        <button class="btn btn-deep-orange">Cadastrar-se</button>
    </div>

</form>