<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

    <!-- -->
    <br><br><br><br>
    <div class="container border border-dark border-top-1 border-bottom-1 col-md-14 border-warning">
        <div class="row"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12"><br><br></div>

                <p class="h3 text-center mb-5 question15" align="center">Avaliação da cantina particular</p>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <h5>Avaliação dos cardápios</h5>
            </div>
        </div>
        <br><br>

        <div *ngFor="let question of cafeteriaQuestions;let cafeteriaQuestionCounter=index">
            <div class="row">
                <div class="col-md-8 question11 h5  "> {{cafeteriaQuestions[cafeteriaQuestionCounter]}}</div>
                <div class="col-md-1 question11"></div>
                <h5> Não</h5>
                <label class="switch">
                <input type="checkbox" name="formBinary_{{cafeteriaQuestionCounter}}" [(ngModel)]="cafeteriaQuestions[cafeteriaQuestionCounter].answer" [value]="true" required>
                <span class="slider round"></span>
                </label>
                <h5>Sim</h5>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" *ngIf="cafeteriaAnswers[cafeteriaQuestionCounter].answer === true">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="md-form textAreaTrue">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea mdbActive align="center" type="text" class="basic-textarea commentaryThree" 
                            placeholder="Observações" name="formBinary_{{cafeteriaQuestionCounter}}" [(ngModel)]="cafeteriaAnswers[cafeteriaQuestionCounter].obs">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br>



        <form #formChecklist="ngForm">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h5 align="center ">Relação dos alimentos encontrados na cantina</h5>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="form-group basic-textarea rounded-corners shadow-textarea">
                        <textarea mdbActive align="center" type="text" id="obs"
                            class="form-control z-depth-1" name="obs" [(ngModel)]="checklist.obs" rows="3" placeholder="Resposta">
                        </textarea>
                        <label for="checkthreetext"></label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><a href="/checklist" class="btn btn-deep-orange back-button">
                    <span class="glyphicon glyphicon-chevron-left " aria-hidden="false"></span>
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>  Voltar</a></div>
                <div class="col-md-3"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2"><button type="submit" class="btn btn-blue-grey conclude-button" mdbRippleRadius 
                    (click)="savePost()" [disabled]="!formChecklist.form.valid">
                    Concluir</button></div>
                </div>
            <div class="row">
                <div class="col-md-12"><br></div>
            </div>
        </form>
    </div>
</body>

</html>
<br><br><br><br>