<br><br><br><br><br>

<div class="well">
  <p align="center">Recuperação de senha</p>  
  <form class="form-horizontal" [formGroup]="form">

      <div class="form-group">
        <div class="col-sm-12">
          <label for="email" class="control-label">Digite o e-mail</label>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>
      </div>
  
      <div class="form-group text-center">
          <a href="/home" class="btn btn-deep-orange back-button">
            <span class="glyphicon glyphicon-chevron-left"
                  aria-hidden="false"></span>Voltar
          </a>
          <button type="submit" class="btn btn-blue-grey conclude-button" 
            (click)="recoverPassword()" [disabled]="!form.valid">
            Recuperar Senha
          </button>
      </div>
  </form>
</div>
<br><br>