<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark orange darken-1">
      <a class="navbar-brand" href="#"><strong>Ajuda Conselheiro</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">Entrar</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Cadastrar</a>
              </li>
          </ul>
      </div>
  </nav>

  <div class="view hm-black-light">
      <div class="full-bg-img flex-center">
          <div class="container text-center white-text">
              <div class="white-text text-center wow fadeInUp">
                  <h5>It will always stay visible on the top, even when you scroll down</h5>
                  <br>
                  <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>
              </div>
          </div>
      </div>
  </div>

</header>
<main class="text-center py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <p align="justify"></p>

          </div>
      </div>
  </div>
</main>