<app-navbar-home></app-navbar-home>
<div class="materialContainer">

    <div class="box">

        <div class="title">Ajuda Conselheiro</div>

        <div class="input">
            <input type="text" name="name" id="name" placeholder="Nome de Usuário" required>
            <span class="spin"></span>
        </div>

        <div class="input">
            <input type="password" name="pass" id="pass" placeholder="Senha" required>
            <span class="spin"></span>
        </div>

        <div class="button login">
            <a href=""><button><span>Entrar</span> <i class="fa fa-check"></i></button></a>
        </div>

        <a href="" class="pass-forgot">Esqueceu a senha?</a>

    </div>
</div>