<br><br><br>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<div class="well">
    <form #formUser="ngForm">
        <br>
        <p class="h3 text-center mb-4"> {{ userName }} </p>
        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="fullname" placeholder="{{ user.nomeCompleto }}" [(ngModel)]="user.nomeCompleto" #nomeCompleto="ngModel" required>
            <div *ngIf="nomeCompleto.errors && (nomeCompleto.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeCompleto.errors.required">
                    Digite o nome completo.
                </div>
                <div [hidden]="!nomeCompleto.errors.minlength">
                    O Nome deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="username" minlength="10" placeholder="{{ user.nomeUsuario }}" [(ngModel)]="user.nomeUsuario" #nomeUsuario="ngModel" required>
            <div *ngIf="nomeUsuario.errors && (nomeUsuario.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeUsuario.errors.required">
                    Digite o nome de usuário.
                </div>
                <div [hidden]="!nomeUsuario.errors.minlength">
                    O username deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="CEP" minlength="8" maxlength="8" placeholder="{{ user.CEP }}" [(ngModel)]="user.CEP" #CEP="ngModel" required>
            <div *ngIf="CEP.errors && (CEP.dirty)" class="alert alert-danger">
                <div [hidden]="!CEP.errors.required">
                    Digite um CEP válido
                </div>
                <div [hidden]="!CEP.errors.minlength">
                    O CEP deve ter ao menos 11 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <i class="fa fa-venus-mars prefix grey-text"></i>
            <input type="text" name="sexo" list="gender" placeholder="Sexo (opcional)" [(ngModel)]="user.sexo" #sexo="ngModel">
            <datalist id="gender">
                  <option value="F">Feminino</option>
                  <option value="M">Masculino</option>
                </datalist>
        </div>

        <div class="form-group text-center">
            <input type="button" class="btn btn-blue-grey update-button" (click)="updateUser()" value="Atualizar" [disabled]="!formUser.form.valid">
            <a [routerLink]="['/perfil']" class="btn btn-deep-orange back-button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Voltar
            </a>
            <br><br>
        </div>

    </form>
</div>