.well {
    margin: 0 auto;
    max-width: 1280px;
    width: 30%;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
}