.well {
  margin: 0 auto;
  margin-top: 5%;
  max-width: 1280px;
  width: 30%;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

label {
  font-family: "Roboto Condensed", sans-serif;
  color: grey;
}

.update-button {
  background-color: #192433;
}

.back-button {
  background-color: #ff6100;
}

.delete-button {
  margin-left: 35%;
  margin-bottom: 5%;
}

a {
  align-content: right;
}
