<br><br><br>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<div class="well">
    <form #formUser="ngForm">
        <br>
        <p class="h3 text-center mb-4"> Editar Perfil </p>
        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="fullname" minlength="10" placeholder="Nome Completo" [(ngModel)]="user.nomeCompleto" #nomeCompleto="ngModel" required>
            <div *ngIf="nomeCompleto.errors && (nomeCompleto.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeCompleto.errors.required">
                    Digite o nome completo.
                </div>
                <div [hidden]="!nomeCompleto.errors.minlength">
                    O Nome deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="cpf" minlength="11" placeholder="CPF" [(ngModel)]="user.CEP" #CEP="ngModel" required [textMask]="{mask: maskcpf}" />
            <div *ngIf="CEP.errors && (CEP.dirty)" class="alert alert-danger">
                <div [hidden]="!CEP.errors.required">
                    Digite um CPF válido
                </div>
                <div [hidden]="!CEP.errors.minlength">
                    O CPF deve ter ao menos 11 caracteres.
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <i class="fa fa-phone prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="phonw" minlength="10" placeholder="phone" [(ngModel)]="user.phone" #phone="ngModel" required [textMask]="{mask: maskphone}" />
            <div *ngIf="phone.errors && (phone.dirty)" class="alert alert-danger">
                <div [hidden]="!phone.errors.required">
                    Digite um Telefone válido
                </div>
                <div [hidden]="!phone.errors.minlength">
                    O telefone deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required>
            <div *ngIf="email.errors && (email.dirty)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                    Digite um email válido
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-name" class="form-control" name="password" minlength="5" placeholder="Senha" [(ngModel)]="user.password" #password="ngModel" required>
            <div *ngIf="password.errors && (password.dirty)" class="alert alert-danger">
                <div [hidden]="!password.errors.required">
                    Digite uma senha válida.
                </div>
                <div [hidden]="!password.errors.minlength">
                    A senha deve ter mais do que 5 caracteres.
                </div>
            </div>
        </div>
        <i class="fa fa-home prefix grey-text"></i>
        <div class="form-group">
            <label for="county">Segmento:</label>
            <select id="county" name="county" [(ngModel)]="user.county" #county="ngModel" required>
          <option value="" disabled selected></option>
          <option>Acre</option>
          <option>Alagoas</option>
          <option>Amapá</option>
          <option>Amazonas</option>
          <option>Bahia</option>
          <option>Ceará</option>
          <option>Distrito Federal</option>
          <option>Espírito Santo</option>
          <option>Goiás</option>
          <option>Maranhão</option>
          <option>Mato Grosso</option>
          <option>Mato Grosso do Sul</option>
          <option>Minas Gerais</option>
          <option>Pará</option>
          <option>Paraíba</option>
          <option>Paraná</option>
          <option>Pernambuco</option>
          <option>Piauí</option>
          <option>Rio de Janeiro</option>
          <option>Rio Grande do Norte</option>
          <option>Rio Grande do Sul</option>
          <option>Rondônia</option>
          <option>Roraima</option>
          <option>Santa Catarina</option>
          <option>São Paulo</option>
          <option>Sergipe</option>
          <option>Tocatins</option>
        </select>
        </div> -->
        <div class="form-group text-center">
            <input type="button" class="btn btn-deep-orange" (click)="updateUser()" value="Atualizar" [disabled]="!formUser.form.valid">
            <a [routerLink]="['/usuarios']" class="btn btn-outline-warning waves-effect">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Voltar
            </a>
            <input type="button" class="btn btn-danger" (click)="deleteUser()" value="Deletar conta">
        </div>

    </form>
</div>
