<div *ngIf="!local; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addScheduling(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Agendamento</h1>
        <li><label>Local
          <input type="text" formControlName="local">
        </label></li>
        <li><label>Participantes
          <input type="text" formControlName="members">
        </label></li> 
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ local }}</h1>

        <p>{{ members }}</p>
    </div>
  </div>
</ng-template>