<body>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <div class="well" *ngIf="isLoggedIn()">
    <p class="h2 text-center mb-4"> Busca de Conselho </p>

    <app-ibge (stateEmitter)="chosenState($event)" (cityEmitter)="chosenCity($event)"></app-ibge>

    <div align="center" *ngIf="hasLocation()">
      <input type="button" class="btn btn-primary" (click)="searchCouncilGroup()" value="Pesquisar">
      <a href="/home" class="btn btn-secondary">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>Voltar
      </a>
    </div>
  </div>

  <table *ngIf="found" class="table table-hover" [(ngModel)]="councilGroup.municipio" #council="ngModel" ngDefaultControl>
    <thead>
        <tr>
            <th>Conselho</th>
            <th>Estado</th>
            <th>Município</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{this.councilGroup.descricao}}</td>
            <td>{{this.state}}</td>
            <td>{{this.city}}</td>
        </tr>
    </tbody>
  </table>

  <div align="center" *ngIf="!isLoggedIn()">
    <br>
    <p class="h2 text-center mb-4">Você precisa estar logado para acessar esta função.</p>
    <br>
    <a href="/login" class="btn btn-deep-orange">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>Entrar
    </a>
  </div>
</body>

