p {
  font-family: 'Roboto Condensed', sans-serif;

}

.well {
  margin: 0 auto;
  max-width: 1280px;
  width: 40%;
  margin-bottom: 15%;
}

.text-center {
  margin-top: 20%;
}

.btn-primary {
  background-color: #192433 !important;
  margin-top: 5%;
}

.btn-secondary {
  background-color: #FF6100 !important;
  margin-top: 5%;
}

.table-hover {
  margin: 0 auto;
  margin-top: -10%;
  margin-bottom: 5%;
  width: 50%;
}

#bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  display: none;
}

/*#bg:target {
  display: block;
}*/

.box {
  width: 720px;
  height: 405px;
  position: absolute;
  /*margin-left: -360px;*/
  left: 50%;
  top: -410px;
}

#close {
  color: #fff;
  font-family: 'Arial';
  text-decoration: none;
  font-size: 35px;
  position: absolute;
  /*background-color: #57A02D;*/
  width: 40px;
  height: 40px;
  text-align: center;
  /*right: 0;*/
}

#close:hover{
  opacity: .6;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  top: 25%;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;

}

.popup hr{
  margin-bottom: 1.5rem !important;
  width: 60px;
  background-color: #e65100 !important;
  margin-top: 0 !important;
  margin-right: auto !important;
}

.popup .close {
  position: absolute;
  top: 16%;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  opacity: .6;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
