<p class="h1 text-center mb-6"> Buscar Conselho </p>

<br>
<br>
<div class="create-form">
  <div class="card container search">
    <br>
        <div class="container select-style">
            <label><i class="fa fa-map-marker" aria-hidden="true"></i>Estados:</label>
          <select [(ngModel)]="state" (change)="ngOnChanges(state)">
            <option value="" selected disabled>Escolha um Estado</option>
            <option *ngFor="let st of states" [value]="st.id">{{st.sigla}}</option>
          </select>
        </div>
        <div class="container select-style" *ngIf="state!=null">
            <label><i class="fa fa-street-view" aria-hidden="true"></i>Municipio:</label>
          <select [(ngModel)]="city" (change)="ngOnChanges(city)">
            <option value="" selected disabled>Escolha um Município</option>
            <option *ngFor="let ct of cities" [value]="ct">{{ct}}</option>
          </select>
        </div>
    <br>
    <div class="container select-style" *ngIf="showCouncil">
        <p class="h6 text-left mb-6">Conselho de Alimentação Escolar</p>
        <p> {{stateSigla}} {{city}}
    </div>
  </div>
  <a href="/conselho" class="btn btn-deep-orange backButton" align="left">
    <span class="glyphicon glyphicon-chevron-left " aria-hidden="false"></span>
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true">
</i>Voltar</a>
</div>
