<p class="h1 text-center mb-6"> Buscar Conselho </p>
<br>
<div class="create-form">
  <div class="card container search">
  <br>
      <div class="container select-style">
          <label>Estados:</label>
        <select [(ngModel)]="state" (change)="ngOnChanges()">
          <option value="" selected disabled>Escolha um Estado</option>
          <option *ngFor="let st of states" [value]="st.id">{{st.sigla}}</option>
        </select>
      </div>
      <div class="container select-style" *ngIf="state!=null">
          <label>Municipio:</label>
        <select [(ngModel)]="city" (change)="ngOnChanges(state, city)">
          <option value="" selected disabled>Escolha um Município</option>
          <option *ngFor="let ct of cities" [value]="ct">{{ct}}</option>
        </select>
      </div>
  <br>
  </div>
</div>
