.create-form {
    margin: 0 auto;
    max-width: 1280px;
    width: 50%;
    margin-bottom: 10%;
}
.text-center {
  margin-top: 10%;
}
.select-style {
    border: 1px solid #ccc;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: #efefef;
}
.select-style select {
    width: 100%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   padding: 2px 2px 2px 2px;
   border: none;
   background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 100% center;
}
