<div *ngIf="!local; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addScheduling(rForm.value)">
        <p class="h5 text-center mb-4">Agendamento</p>

        <div class="md-form">
            <i class="fa fa-location-arrow prefix grey-text"></i>
            <input type="text" class="form-control" formControlName="local">
            <label for="form1">Local</label>
        </div>
        <div class="md-form">
            <i class="fa fa-group prefix grey-text"></i>
            <input type="text" class="form-control" formControlName="members">
            <label for="form2">Participantes</label>
        </div>
        <div class="md-form">
            <i class="fa fa-calendar-check-o prefix grey-text"></i>
            <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="md-form">
            <i class="fa fa-clock-o prefix grey-text"></i>
            <input type="time" class="form-control" formControlName="time">
        </div>
        <input type="submit" class="button expanded" value="Agendar" [disabled]="!rForm.valid">
    </form>
</div>


<ng-template #forminfo>
    <div class="form-container">
        <div class="row columns">
            <h1>{{ local }}</h1>
            <p>{{ members }}</p>
            <p>{{ date }}</p>
            <p>{{ time }}</p>

        </div>
    </div>
</ng-template>

<!--
<form>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="local" class="form-control formControlName="local"">
        <label for="defaultForm-email">Local</label>
    </div>

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="defaultForm-pass" class="form-control">
        <label for="defaultForm-pass">Your password</label>
    </div>

    <div class="text-center">
        <button class="btn btn-default">Login</button>
    </div>
</form> -->