<div class="form-container">
    <div class="row columns">
        <h1>Agendamento de Visita</h1>

        <li><label>Local
              <!--    <input type="text" formControlName="local"> -->
              </label></li>

        <li><label>Participantes
            <!--      <input type="text" formControlName="members">-->
              </label></li>

        <li><label>Escola
                <!--      <input type="school" formControlName="school"> -->
                    </label></li>

        <li><label>Data
             <!--   <input type="date" formControlName="date"> -->
              </label></li>

        <li><label>Horario
                <!--  <input type="time" formControlName="time"> -->
                  </label></li>
                <br/>
        <button type="button">Criar Agendamento</button>
    </div>
</div>
