<br><br><br><br><br>

<!--Card-->
<div class="card centering profile">

    <!--Card image-->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">

    <!--Card content-->
    <div class="card-body centering">
        <!--Title-->
        <h4 class="card-title centering">{{user.nomeCompleto}}</h4>
        <!--Text-->
        <p class="card-text centering"> {{user.biografia}}</p>
        <p class="card-text centering"> {{user.email}}</p>

        <div class="form-group text-center">
            <div class="form-group">
                <input type="password" id="orangeForm-name" class="form-control" name="passwordForm" [(ngModel)]="passwordForm" minlength="5" placeholder="Senha" required password>
            </div>
            <button type="button" class="btn btn-danger" (click)="validatePassword()"><i class="fa fa-times" aria-hidden="true"></i>Deletar Conta</button>
            <input [routerLink]="['/usuarios/editar/'] + cod" type="button" class="btn btn-deep-orange" value="Editar">
            <br>
            <br>
        </div>
    </div>

</div>
<!--/.Card-->


<br><br><br><br><br><br><br>