<br><br><br>
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<div class="well">
    <form #formUser="ngForm">
        <br>
        <p class="h3 text-center mb-4"> Inserir CPF </p>
        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="cpf" minlength="11" placeholder="CPF" [(ngModel)]="data"  required />    
        </div>
        <div class="form-group text-center">
            <input type="button" class="btn btn-deep-orange" (click)="savePosts()" value="Atualizar" [disabled]="!formUser.form.valid">
            <a [routerLink]="['/usuarios']" class="btn btn-outline-warning waves-effect">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Voltar
            </a>
        </div>

    </form>
</div>