<br><br><br>
<div>
    <link href="https://fonts.googleapis.com/css?family=Muli|Oxygen" rel="stylesheet">

    <h1>Agendamentos
        <div class="sidebar"><button [routerLink]="['/agendamento/criar'] " class="btn btn-blue-grey new-button">Novo <i class="fa fa-pencil" aria-hidden="true"></i> Agendamento</button>
        </div>
    </h1>

<br><br>
        <div class="card container">
            <label for="name"><i class="fa fa-globe" aria-hidden="true"></i> Código de Postágem:</label>
            <div class="input-group">
                <input type="text" class="form-control"  placeholder="cod" [(ngModel)]="codPost">
            </div>
            <label for="name"><i class="fa fa-globe" aria-hidden="true"></i> Código de Postágem:</label>
            <div class="input-group">
                <input type="text" class="form-control"  placeholder="cod2" [(ngModel)]="codContent">
                <button class="btn btn-deep-orange rounded" type="button" (click)="delete()" aria-label="Search">
                        Deletar
                    </button>
            </div>
        </div>
</div>

<br><br>