<br><br><br><br>
<div class="container">
    <h1>Editar Visita</h1>

    <br>

    <div class="well">
        <form #formSchedulingVisit="ngForm">
            <div class="form-group">
                <label for="local">Escola:</label>
                <input type="text" class="form-control" id="local" name="local" [(ngModel)]="schedulingVisits.local" #local="ngModel" minlength="3" required>

                <label for="members">Membros:</label>
                <input type="text" class="form-control" id="members" name="members" [(ngModel)]="schedulingVisits.members" #members="ngModel" required>

                <label for="date">Data:</label>
                <input type="date" class="form-control" id="date" name="date" [(ngModel)]="schedulingVisits.date" #date="ngModel" required>

                <label for="time">Hora:</label>
                <input type="time" class="form-control" id="time" name="time" [(ngModel)]="schedulingVisits.horaly" #time="ngModel" required>

                <div *ngIf="local.erros && (local.dirty || local.touched)" class="alert alert-danger">
                    <div [hidden]="local.errors.required">
                        Preencha o campo!
                    </div>
                    <div [hidden]="local.errors.minlength">

                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <input type="button" class="btn btn-deep-orange" (click)="update()" value="Atualizar" [disabled]="!formSchedulingVisit.form.valid">
                <a href="/home" class="btn btn-outline-warning waves-effect">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>Voltar
                </a>
            </div>
        </form>
    </div>
</div>