<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

    <!-- -->
    <br><br><br><br>
    <div class="container border border-dark border-top-1 border-bottom-1 col-md-14 border-warning">
        <div class="row"></div>

        <div class="row">
            <div class="col-md-10">
                <div class="col-md-10"><br><br></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
            <p class="h3 text-center mb-5 question15" align="center">Avaliação dos cardápios das escolas parque e escolas classes da CRE/PPC</p>

        </div>

        <div class="row">
            <div class="col-md-9" align="center">
                <h5>Avaliação dos cardápios</h5>
            </div>

        </div>
        <br>
        <br>
        <!-- Começo da parte referente às perguntas com comentários -->

        <div *ngFor="let i of formMenuThree;let g = index">
            <div class="row">
                <div class="col-md-8 question11"> {{i.question}}</div>
                <div class="col-md-1 question11"></div>
                Não
                <label class="switch">
                <input type="checkbox" name="formBinary_{{g}}" [(ngModel)]="formMenuThree[g].answer" [value]="true" required>
                <span class="slider round"></span>
              </label>Sim
                <div class="col-md-2"></div>

                <div class="col-md-2"></div>





            </div>

            <div class="row" *ngIf="formMenuThree[g].answer === true">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="md-form">
                        <textarea mdbActive align="center" type="text" class="md-textarea commentaryThree" placeholder="Observações" name="formBinary_{{g}}" [(ngModel)]="formMenuThree[g].obs"></textarea>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
        <br>


        <form #formChecklist="ngForm">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h5 align="center"><label for="exampleFormControlTextarea6">Relação dos alimentos encontrados na cantina</label></h5>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="form-group basic-textarea rounded-corners shadow-textarea">
                        <textarea mdbActive align="center" type="text" id="obs" class="form-control z-depth-1" name="obs" [(ngModel)]="checklist.obs" rows="3" placeholder="Resposta" required></textarea>
                        <label for="checkthreetext"></label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><a href="/checklist" class="btn btn-outline-warning waves-effect"><span class="glyphicon glyphicon-chevron-left " aria-hidden="false"></span><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>  Voltar</a></div>
                <div class="col-md-3"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2"><button type="submit" class="btn btn-warning btn-rounded waves-light" mdbRippleRadius (click)="copy(checklist.FormMenuThree, formMenuThree);newFormulario()" [disabled]="!formChecklist.form.valid">Enviar <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></div>
            </div>
            <div class="row">
                <div class="col-md-12"><br></div>
            </div>
        </form>
    </div>

</body>

</html>
<br><br><br><br>