<br><br><br><br>

<li *ngIf="hasToken()">
  <ul class="sidebar-nav">
    <br><br><br><br>
    <li>
      <div class="sidebar-user-content">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
        <p>{{user.nomeCompleto}}</p>
      </div>
    </li>
    <li class="side-buttons">
      <a class="btn btn-deep-orange" href="/agendamento">Nova Reunião</a>
    </li>

    <li class="side-buttons">
        <a class="btn btn-deep-orange" href="/checklist">Novo Relatório</a>
    </li>

  </ul>
</li>
