
<!-- -->
<br><br><br><br>
<div clas="container col-md-12 border border-dark">
  <div class="row"><br><br><br><br></div>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p class="h3 text-center mb-4" align="center">Avaliação dos cardápios das escolas parque e escolas classes da CRE/PPC</p>
                </div>
                </div>
                <form ng-submit="">
                    <div class="row" >
                      <div class="col-md-9" align="center"><h5>Avaliação dos cardápios</h5></div>
                      <div class="col-md-1" align="center"><h5>Sim</h5></div>
                      <div class="col-md-1" align="center"><h5>Não</h5></div>
                    </div>
                    <br>
                    <br>
                    <div class="" *ngFor="let item of formsMenu; let i=index;">
                      <div class="row"  >
                        <div class="col-md-1"></div>
                        <div class="col-md-8">{{item.question}}</div>
                        <div class="col-md-1" align="center"><input type="radio" name="{{item.question}}" value="true" (click)="checkComentary[i].value=true" required></div>
                        <div class="col-md-1" align="center"><input type="radio" name="{{item.question}}" value="false" (click)="checkComentary[i].value=null"></div>
                      </div>

                      <div class="row" *ngIf="checkComentary[i].value ===true">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                          <div class="md-form">
                            <textarea mdbActive align ="center"type="text" id="form7" class="md-textarea" placeholder="Observações"></textarea>
                            <label for="form7" ></label>
                          </div>
                        </div>
                      </div>
                  </div>
                  <br>
              </form>

                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2"><a href="/checklist" class="btn btn-outline-warning waves-effect"><span class="glyphicon glyphicon-chevron-left " aria-hidden="false"></span><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>  Voltar</a></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-2"><button type="submit" class="btn btn-warning btn-rounded waves-light" mdbRippleRadius>Enviar <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button></div>
                </div>
                <div class="row">
                  <div class="col-md-12"><br></div>
                </div>
    </form>
</div>
