<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- -->
    <br><br><br><br>
    <div class="container col-md-10 border border-dark">
      <div class="row"><br><br><br><br></div>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-10"><br><br></div>
                    <p class="h3 text-center mb-4 question15" align="center">Avaliação dos cardápios das escolas parque e escolas classes da CRE/PPC</p>
                    </div>
                    </div>
                    <form ng-submit="">
                        <div class="row" >
                          <div class="col-md-10" align="center"><h5><b>Avaliação dos cardápios</b></h5></div>
                        </div>
                        
                        <!-- Começo da parte referente às perguntas com comentários -->
                        <div *ngFor="let commentQuestion of iteratorArray[0];let commentQuestionCounter=index">
                          <div class="row" >
                            <div class="col-md-1"></div>
                            <div class="col-md-8">{{iteratorArray[0][commentQuestionCounter].question}}</div>
                            <div class="col-md-2" align="center">
                              Não
                              <label class="align-middle switch">
                              <input type="checkbox" name="{{iteratorArray[0][commentQuestionCounter]}}" [(ngModel)]="iteratorArray[0][commentQuestionCounter].answer" [value]="true" >
                              <span class="slider round"></span>
                              </label>
                              Sim
                            </div>
                          </div>
                          <div class="row" *ngIf="checkComentary[commentQuestionCounter].value ===true">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                              <div class="md-form">
                                <textarea required align ="center"type="text" id="form7" class="md-textarea textAreaTrue" 
                                placeholder="Resposta" name="{{iteratorArray[0][commentQuestionCounter]}}"
                                [(ngModel)]="iteratorArray[0][commentQuestionCounter].commentary">
                                </textarea>
                                <label for="form7" ></label>
                              </div>
                            </div>
                          </div>
                        </div>
                          

                          
                      <!-- Fim da parte referente às perguntas com comentários -->
                      <!-- Inicio da parte referente às perguntas binárias -->

                        <div class="row" *ngFor="let binaryQuest of iteratorArray[1]; let binaryQuestCounter=index">
                          <div class="col-md-1"></div>
                          <div class="col-md-8 question">{{iteratorArray[1][binaryQuestCounter].question}}</div>
                          
                          <div class="col-md-2" align="center">
                            Não
                            <label class="align-middle switch">
                            <input type="checkbox" name="{{iteratorArray[1][binaryQuestCounter]}}" [(ngModel)]="iteratorArray[1][binaryQuestCounter].answer"
                            [value]="true" >
                            <span class="slider round"></span>
                            </label>
                            Sim
                          </div>
                        </div>
                        <br>
                        <br>
                        <!-- Fim das questões com respostas binárias e início das questões com perguntas de comentário  -->
                        <div *ngFor="let commentQuest of iteratorArray[2];let commentQuestCounter=index">
                        <div class="row">
                          <div class="col-md-12 question5" align="center"><h5>{{iteratorArray[2][commentQuestCounter].question}}</h5></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="form-group basic-textarea rounded-corners shadow-textarea">
                                    <textarea required align="center" type="text" id="obs" class="form-control z-depth-1"
                                     name="{{iteratorArray[2][commentQuestCounter]}}" [(ngModel)]="iteratorArray[2][commentQuestCounter].answer"
                                     rows="3" placeholder="Resposta">
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br>
                      </div>
                        <!--Fim da secção de perguntas com apenas comentários e fim das perguntas  -->
                      <br>
                      

                  </form>
                  <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-2"><a href="/checklist" class="btn btn-outline-warning waves-effect">
                        <span class="glyphicon glyphicon-chevron-left " aria-hidden="false"></span>
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                          Voltar</a></div>
                      <div class="col-md-3"></div>
                      <div class="col-md-4"></div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-warning btn-rounded waves-light" (ngSubmit)="onSubmit()" [disabled]="!f.form.valid" href="/checklist">
                          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                          Enviar
                       </button>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12"><br></div>
                    </div>
        </form>
    </div>

  </body>
</html>