<br><br><br>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<div class="well">
    <form (ngSubmit)="formUser.form.valid && register()" #formUser="ngForm">
        <br>
        <p class="h2 text-center mb-4"> Cadastro </p>

        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="fullname" minlength="10" placeholder="Nome Completo" [(ngModel)]="user.nomeCompleto" #nomeCompleto="ngModel" required>
            <div *ngIf="nomeCompleto.errors && (nomeCompleto.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeCompleto.errors.required">
                    Digite o nome completo.
                </div>
                <div [hidden]="!nomeCompleto.errors.minlength">
                    O Nome deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-user-circle prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="nomeUsuario" maxlength="20" placeholder="Nome de Usuário" [(ngModel)]="user.nomeUsuario" #nomeUsuario="ngModel" required>
            <div *ngIf="nomeUsuario.errors && (nomeUsuario.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeUsuario.errors.required">
                    Digite um nome de usuário válido.
                </div>
                <div [hidden]="!nomeUsuario.errors.minlength">
                    O Nome deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="cep" minlength="8" maxlength="8" placeholder="CEP" [(ngModel)]="user.CEP" #CEP="ngModel" required>
            <div *ngIf="CEP.errors && (CEP.dirty)" class="alert alert-danger">
                <div [hidden]="!CEP.errors.required">
                    Digite um CEP válido
                </div>
                <div [hidden]="!CEP.errors.minlength">
                    O CEP deve ter 8 caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="orangeForm-name" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required>
            <div *ngIf="email.errors && (email.dirty)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                    Digite um email válido
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-name" class="form-control" name="senha" minlength="7" placeholder="Senha" [(ngModel)]="user.senha" #senha="ngModel" required>
            <div *ngIf="senha.errors && (senha.dirty)" class="alert alert-danger">
                <div [hidden]="!senha.errors.required">
                    Digite uma senha válida.
                </div>
                <div [hidden]="!senha.errors.minlength">
                    A senha deve ter mais do que 7 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-deep-orange" [disabled]="!formUser.form.valid">Cadastrar</button>
            <a href="/home" class="btn btn-outline-warning waves-effect">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>Voltar
            </a>
        </div>
    </form>
</div>
