<br><br><br><br>
<div class="container">
    <form>
        <p class="h3 text-center mb-4"> Cadastro Conselheiro </p>

        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" minlength="10" placeholder="Nome Completo" required>
            <div class="alert alert-danger">
                <div>
                    Digite o nome completo.
                </div>
                <div>
                    O Nome deve ter ao menos 10 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" minlength="11" placeholder="CPF" required>
            <div class="alert alert-danger">
                <div>
                    Digite um CPF válido
                </div>
                <div>
                    O Nome deve ter ao menos 11 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-home prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" minlength="5" placeholder="Segmento" required>
            <div class="alert alert-danger">
                <div>
                    Digite o nome do segmento.
                </div>
                <div>
                    O Segmento deve ter ao menos 5 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" placeholder="Email" required>
            <div class="alert alert-danger">
                <div>
                    Digite um email válido
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-name" class="form-control" placeholder="Senha" required>
            <div class="alert alert-danger">
                <div>
                    Digite uma senha válida
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-deep-orange" value="Cadastrar">

            <a class="btn btn-default">
                <span class="glypicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
            </a>
        </div>
    </form>
</div>

<!-- <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="text" id="orangeForm-email" class="form-control" placeholder="Email">
</div>

<div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" id="orangeForm-pass" class="form-control" placeholder="Senha">
</div>

<div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" id="orangeForm-pass" class="form-control" placeholder="Confirmar Senha">
</div>

<div class="text-center">
    <button class="btn btn-deep-orange">Cadastrar-se</button>
</div>

</form>
</div>

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 30%;
}
-->-->