<br><br><br><br><br>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<div class="well">
    <form (ngSubmit)="formUser.form.valid && register(data)" #formUser="ngForm">
        <br>
        <p class="h2 text-center mb-4"> Cadastro </p>
        <div class="form-group">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" class="form-control" name="nomeCompleto" id="nomeCompleto" placeholder="Nome Completo" [(ngModel)]="user.nomeCompleto" #nomeCompleto="ngModel" required pattern="^[a-zA-ZÀ-ÿ]+(?:[\s.]+[a-zA-ZÀ-ÿ]+)*$">
            <div *ngIf="nomeCompleto.errors && (nomeCompleto.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeCompleto.errors.required">
                    Nome Completo é obrigatório.
                </div>
                <div [hidden]="!nomeCompleto.errors.pattern">
                    Somente letras.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-user-circle prefix grey-text"></i>
            <input type="text" class="form-control" name="nomeUsuario" id="nomeUsuario" placeholder="Nome de Usuário" [(ngModel)]="user.nomeUsuario" #nomeUsuario="ngModel" required pattern="[^\s]+">
            <div *ngIf="nomeUsuario.errors && (nomeUsuario.dirty)" class="alert alert-danger">
                <div [hidden]="!nomeUsuario.errors.required">
                    Nome Completo é obrigatório.
                </div>
                <div [hidden]="!nomeUsuario.errors.pattern">
                    O campo não deve conter espaços vazios.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="CEP" class="form-control" name="CEP" placeholder="CEP" [(ngModel)]="user.CEP" #CEP="ngModel" minlength="8" maxlength="8" required pattern="[0-9][^\s]+$">
            <div *ngIf="CEP.errors && (CEP.dirty)" class="alert alert-danger">
                <div [hidden]="!CEP.errors.required">
                    CEP é obrigatório.
                </div>
                <div [hidden]="!CEP.errors.minlength">
                    O CEP deve ter 8 caracteres.
                </div>
                <div [hidden]="!CEP.errors.pattern">
                    CEP deve conter só números.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-address-card prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control" name="cpf" minlength="11" maxlength="11" placeholder="CPF" [(ngModel)]="data" #cpf="ngModel" required pattern="[0-9][^\s]+">
            <div *ngIf="cpf.errors && (cpf.dirty)" class="alert alert-danger">
                <div [hidden]="!cpf.errors.required">
                    CPF é obrigatório.
                </div>
                <div [hidden]="!cpf.errors.minlength">
                    O CPF deve ter 11 caracteres.
                </div>
                <div [hidden]="!cpf.errors.pattern">
                    CPF deve conter só números.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="email.errors && (email.dirty)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                    Email é obrigatório.
                </div>
                <div [hidden]="!email.errors.pattern">
                    O formato deve seguir o padrão:
                    <small><b>exemplo@exemplo.com</b></small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="senha" class="form-control" name="senha" placeholder="Senha" [(ngModel)]="user.senha" minlength="7" maxlength="20" #senha="ngModel" required>
            <div *ngIf="senha.errors && (senha.dirty)" class="alert alert-danger">
                <div [hidden]="!senha.errors.required">
                    Senha é obrigatória.
                </div>
                <div [hidden]="!senha.errors.minlength">
                    A senha deve ter mais do que 7 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fa fa-key prefix grey-text"></i>
            <input type="password" id="confirmaSenha" class="form-control" name="confirmaSenha" placeholder="Confirmar Senha" required [(ngModel)]="user.confirmaSenha" #confirmaSenha="ngModel">
            <div *ngIf="confirmaSenha.errors && (confirmaSenha.dirty)" class="alert alert-danger">
                <div [hidden]="!confirmaSenha.errors.required">
                    Campo Obrigatório.
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <a href="/home" class="btn btn-deep-orange back-button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>Voltar
            </a>
            <button type="submit" class="btn btn-blue-grey conclude-button" (click)="$event.stopPropagation()" [disabled]="!formUser.form.valid">Cadastrar</button>
        </div>
    </form>
</div>
