<br><br><br><br>

<h1>Listas de Agendamentos</h1>
<br>
<h2>Agendamento de Visitas</h2>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Agendamento</th>
        <th>Membros</th>
        <th>Data</th>
        <th>Hora</th>

    </tr>

</table>

<button class="btn btn-primary">Criar Visita</button>
<br><br>

<h2>Agendamento de Reunião</h2> 

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Agendamento</th>
        <th>Membros</th>
        <th>Data</th>
        <th>Hora</th>

    </tr>

    <tr *ngFor="let schedulingMeeting of schedulingsMeeting">
            <td>
                {{schedulingMeeting.local}}
            </td>
            <td>
                {{schedulingMeeting.members}}
            </td>
            <td>
                {{schedulingMeeting.date}}
            </td>
            <td>
                {{schedulingMeeting.horaly}}
            </td>
        </tr>
</table>

<br><br>

<button class="btn btn-primary">Criar Reunião</button>