<br><br><br>
<div class="well">
    <br>
    <p class="h3 text-center mb-4"> Editar Senha </p>
    <div class="form-group">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="senha" class="form-control" name="senha" placeholder="Digite sua Senha Antiga" [(ngModel)]="user.senha" #senha="ngModel">
    </div>
    <div class="form-group">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="confirmaSenha" class="form-control" name="confirmaSenha" placeholder="Digite sua Nova Senha" [(ngModel)]="user.confirmaSenha" #confirmaSenha="ngModel">
    </div>

    <div class="form-group text-center">
        <input type="button" class="btn btn-blue-grey update-button" (click)="updatePassword(senha.model, confirmaSenha.model)" value="Atualizar">
        <a href="/perfil" class="btn btn-deep-orange back-button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Voltar
        </a>
        <br><br>
    </div>

</div>