<br>
<br>
<br>
<br>

<table class="table table-bordered table-hover">
    <tr *ngFor="let post of checklists">
        <td class="text-center mb-4">
            Checklist {{ post.codPostagem }}
        </td>
        <td class="text-center mb-4">
            {{ post.codAutor }}
        </td>
        <td class="text-center" style="width: 200px">
            <button title="Editar" alt="Editar" class="btn btn-xs btn-info fa fa-edit" (click)="getChecklist(post.codPostagem)">Editar</button>
            <br>
            <br>
            <a title="Remover" alt="Remover" class="btn btn-xs btn-danger">
                <i class="fa fa-trash"></i>
            </a>
        </td>
</table>