table {
  table-layout: auto;
}
th{
  color: white;
  height: 5px;
  width:1500px;
  font-weight: bold;
}
thead{
  height: 40px;
  width:1500px;
}
textarea{
    background:white;
    resize: none;
    height: 100px;
    width: 500px;
    border: 1px double #DDD;
    padding-left: 5px;
    box-shadow: 0 0 5px #333;
    outline: none;
    border-radius: 5px;
    color: #666;
}
