<!DOCTYPE html>
<!-- HTML feito para a checklist de verificação de boas práticas de fabricação -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista para verificação das boas práticas de fabricação</title>
  </head>
  <body>
    <h1></h1>
    <table>
      <thead>
        <th >Itens Avaliados</th>
        <th >Critérios de Avaliação</th>
      </thead>
    </table>
    <form class="" action="" method="post">
    <table>
      <thead>
        <th >Hiegiene e Organização dos Ambientes</th>
      </thead>
      <thead>
        <th>Area Externa, Cozinha e Depósito</th>
        <th width="100">Sim</th>
        <th width="100">Não</th>
        <th width="100">Não se aplica</th>
      </thead>
      <!-- É necessário ainda inserir as referências e para onde o dado acolhido será enviado -->
      <tr>
        <td>Área externa livre de sujeiras, objetos em desuso, acúmulo de lixo</td>
        <td align="center" valign="middle"><input type="radio" name="check1_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_1" value="NA"></td>
      </tr>
      <tr>
        <td>Área da cozinha limpa de organizada</td>
        <td align="center" valign="middle"><input type="radio" name="check1_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_2" value="NA"></td>
      </tr>
      <tr>
        <td>Área do depoisto limpa e organizada</td>
        <td align="center" valign="middle"><input type="radio" name="check1_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_3" value="NA"></td>
      </tr>
      <tr>
        <td>Os alimentos armazenados no depósito estão em conformidade</td>
        <td align="center" valign="middle"><input type="radio" name="check1_4" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_4" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_4" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de alimentos vencidos ou impróprios para o consumo</td>
        <td align="center" valign="middle"><input type="radio" name="check1_5" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_5" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_5" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de planilha de rotina de higienização das instalações</td>
        <td align="center" valign="middle"><input type="radio" name="check1_6" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_6" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_6" value="NA"></td>
      </tr>
      <tr>
        <td>Produtos de higienização regularizados pelo Ministério da Saúde</td>
        <td align="center" valign="middle"><input type="radio" name="check1_7" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_7" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_7" value="NA"></td>
      </tr>
      <tr>
        <td>Presença da lixeira com tampa e pedal funcionando</td>
        <td align="center" valign="middle"><input type="radio" name="check1_8" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_8" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_8" value="NA"></td>
      </tr>
      <tr>
        <td>Sacos de lixo fora da lixeira</td>
        <td align="center" valign="middle"><input type="radio" name="check1_9" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check1_9" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check1_9" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Sim" (click)="CheckObservationTrue1();" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs1" value="Nao" (click)= "CheckObservationFalse1();"></td>
      </tr>
      <tr *ngIf = "setComment1">
        <td><textarea name="obs1" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>
      <!-- Complementar caixa de texto de forma correta -->
      <thead>
        <th>Estrutura física da cozinha e do depósito</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se aplica</th>
      </thead>
      <!-- Início Segunda Parte da Tabela  -->
      <tr>
        <td>Tamanho da cozinha é adequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_1" value="NA"></td>
      </tr>
      <tr>
        <td>Tamanho do depósito é adeequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_2" value="NA"></td>
      </tr>
      <tr>
        <td>Existe mais de um depósito de alimentos</td>
        <td align="center" valign="middle"><input type="radio" name="check2_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_3" value="NA"></td>
      </tr>
      <tr>
        <td>Piso é adequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_4" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_4" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_4" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de ralo sifonado com o sistema abre e fecha</td>
        <td align="center" valign="middle"><input type="radio" name="check2_5" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_5" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_5" value="NA"></td>
      </tr>
      <tr>
        <td>Parede é adequada e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_6" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_6" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_6" value="NA"></td>
      </tr>
      <tr>
        <td>Teto é adequado e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_7" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_7" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_7" value="NA"></td>
      </tr>
      <tr>
        <td>Portas são adequadas e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_8" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_8" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_8" value="NA"></td>
      </tr>
      <tr>
        <td>Todas as portas possuem rodinho de proteção contra a entrada de insetos e vetores</td>
        <td align="center" valign="middle"><input type="radio" name="check2_9" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_9" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_9" value="NA"></td>
      </tr>
      <tr>
        <td>As portas possuem telas milimétricas de proteção contra entrada de insetos e vetores</td>
        <td align="center" valign="middle"><input type="radio" name="check2_10" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_10" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_10" value="NA"></td>
      </tr>
      <tr>
        <td>Todas as janelas são adequadas e em bom estado de conservação</td>
        <td align="center" valign="middle"><input type="radio" name="check2_11" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_11" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_11" value="NA"></td>
      </tr>
      <tr>
        <td>Todas as janelas possuem telas milimétricas de proteção contra entrada de insetos e vetores</td>
        <td align="center" valign="middle"><input type="radio" name="check2_12" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_12" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_12" value="NA"></td>
      </tr>
      <tr>
        <td>A iluminação é adequada</td>
        <td align="center" valign="middle"><input type="radio" name="check2_13" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_13" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_13" value="NA"></td>
      </tr>
      <tr>
        <td>A ventilação e circulação de ar são adequadas e capazes de garantir o conforte térmico e o ambiente livre de sujidades</td>
        <td align="center" valign="middle"><input type="radio" name="check2_14" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_14" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_14" value="NA"></td>
      </tr>
      <tr>
        <td>Existe a presença de equipamentos de ventilação artificial</td>
        <td align="center" valign="middle"><input type="radio" name="check2_15" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_15" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_15" value="NA"></td>
      </tr>
      <tr>
        <td>Os equipamentos de ventilação artificial são higienizados regularmente e com a manutenção adequada</td>
        <td align="center" valign="middle"><input type="radio" name="check2_16" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_16" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_16" value="NA"></td>
      </tr>
      <tr>
        <td>Instalações elétricas adequadas</td>
        <td align="center" valign="middle"><input type="radio" name="check2_17" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_17" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_17" value="NA"></td>
      </tr>
      <tr>
        <td>Lavatórios em condições de higiene, dotados de sabonete líquido inodoro antiséptico,
        toalhas de papel não reciclado ou outro sistema higiênico e seguro de secagem e coletor
        de papel acionados sem contato manual</td>
        <td align="center" valign="middle"><input type="radio" name="check2_18" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_18" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_18" value="NA"></td>
      </tr>
      <tr>
        <td>Existência de lavatórios na área de manipulação com água corrente, em posições adequadas
        em relação ao fluxo de produção e serviço e em número suficiente de modo a atender toda a área
        de produção</td>
        <td align="center" valign="middle"><input type="radio" name="check2_19" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check2_19" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check2_19" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs2" value="Sim" (click)="CheckObservationTrue2();" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs2" value="Nao" (click)="CheckObservationFalse2();"></td>
      </tr>
      <tr *ngIf = "setComment2">
        <td><textarea name="obs2" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>
      <thead>
        <th>Abastecimento de Água e Esgoto Sanitário</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se Aplica</th>
      </thead>
      <tr>
        <td>Reservatório de água e encanamentos acessíveis, dotados de tampas, em satifatória
        condição de uso, livre de vazamentos, infiltrações e descasccamentos</td>
        <td align="center" valign="middle"><input type="radio" name="check3_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check3_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check3_1" value="NA"></td>
      </tr>
      <tr>
        <td>Fossas e esgotos conectados à rede pública</td>
        <td align="center" valign="middle"><input type="radio" name="check3_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check3_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check3_2" value="NA"></td>
      </tr>
      <tr>
        <td>Caixas de gordura em adequado estado de conservação e funcionamento</td>
        <td align="center" valign="middle"><input type="radio" name="check3_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check3_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check3_3" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs3" value="Sim"(click)="CheckObservationTrue3();" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs3" value="Nao" (click)= "CheckObservationFalse3();"></td>
      </tr>
      <tr *ngIf = "setComment3">
        <td><textarea name="obs3" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>

      <thead>
        <th>Equipamentos de Utensílios</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se Aplica</th>
      </thead>
      <tr>
        <td>A quantidade de equipamentos é suficiente (geladeira, freezer, fogão, liquidificador,etc.)</td>
        <td align="center" valign="middle"><input type="radio" name="check4_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_1" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de termômetro no freezer</td>
        <td align="center" valign="middle"><input type="radio" name="check4_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_2" value="NA"></td>
      </tr>
      <tr>
        <td>A quantidade de utensílios é suficiente(pratos, copos, talheres, etc)</td>
        <td align="center" valign="middle"><input type="radio" name="check4_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_3" value="NA"></td>
      </tr>
      <tr>
        <td>Existência de registro da higienização dos equipamentos</td>
        <td align="center" valign="middle"><input type="radio" name="check4_4" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_4" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_4" value="NA"></td>
      </tr>
      <tr>
        <td>A higienização é adequada?</td>
        <td align="center" valign="middle"><input type="radio" name="check4_5" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_5" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_5" value="NA"></td>
      </tr>
      <tr>
        <td>Produtos de higienização identificados e guardados em local adequado, afastados dos alimentos</td>
        <td align="center" valign="middle"><input type="radio" name="check4_6" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_6" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_6" value="NA"></td>
      </tr>
      <tr>
        <td>Produtos de higienização regularizados pelo Ministério da Saúde</td>
        <td align="center" valign="middle"><input type="radio" name="check4_7" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check4_7" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check4_7" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs4" value="Sim"(click)="CheckObservationTrue4();" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs4" value="Nao" (click)="CheckObservationFalse4();"></td>
      </tr>
      <tr *ngIf = "setComment4">
        <td><textarea name="obs4" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>

      <thead>
        <th>Manipuladores de Alimentos</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se Aplica</th>
      </thead>
      <tr>
        <td>Uniforme Completo</td>
        <td align="center" valign="middle"><input type="radio" name="check5_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check5_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check5_1" value="NA"></td>
      </tr>
      <tr>
        <td>Manipuladores com esmaltes e/ou unhas compridas</td>
        <td align="center" valign="middle"><input type="radio" name="check5_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check5_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check5_2" value="NA"></td>
      </tr>
      <tr>
        <td>Manipuladores usando adornos (brincos, anéis,pulseiras, relógio, etc.)</td>
        <td align="center" valign="middle"><input type="radio" name="check5_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check5_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check5_3" value="NA"></td>
      </tr>
      <tr>
        <td>Manipuladores com maquiagem (batom, sombra, lápis de olho,etc)</td>
        <td align="center" valign="middle"><input type="radio" name="check5_4" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check5_4" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check5_4" value="NA"></td>
      </tr>
      <tr>
        <td>Manipuladores doentes e/ou com cortes feridas nas mãos</td>
        <td align="center" valign="middle"><input type="radio" name="check5_5" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check5_5" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check5_5" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs5" value="Sim" (click)="CheckObservationTrue5();" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs5" value="Nao" (click)="CheckObservationFalse5"></td>
      </tr>
      <tr *ngIf = "setComment5">
        <td><textarea name="obs5" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>

      <thead>
        <th>Pré-Preparo, Preparo dos Alimentos e Distribuição dos Alimentos</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se Aplica</th>
      </thead>
      <tr>
        <td>Higienização de frutas e verduras é realizada de maneira adequada</td>
        <td align="center" valign="middle"><input type="radio" name="check6_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_1" value="NA"></td>
      </tr>
      <tr>
        <td>A água sanitária utilizada é própria para alimentos</td>
        <td align="center" valign="middle"><input type="radio" name="check6_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_2" value="NA"></td>
      </tr>
      <tr>
        <td>O descongelamento dos alimentos é feito na geladeira</td>
        <td align="center" valign="middle"><input type="radio" name="check6_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_3" value="NA"></td>
      </tr>
      <tr>
        <td>Uso de água potável no preparo de gelo e alimentos</td>
        <td align="center" valign="middle"><input type="radio" name="check6_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_3" value="NA"></td>
      </tr>
      <tr>
        <td>Os alimentos preparaddos, que serão congelados ou refrigerados, são adeqquadamente acondicionados
        e identificados com: nome da preparação, data de preparo e prazo de validade após a abertura
        ou retirada da embalagem original</td>
        <td align="center" valign="middle"><input type="radio" name="check6_4" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_4" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_4" value="NA"></td>
      </tr>
      <tr>
        <td>A escola possui refeitório</td>
        <td align="center" valign="middle"><input type="radio" name="check6_5" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_5" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_5" value="NA"></td>
      </tr>
      <tr>
        <td>O refeitório encontra-se em boas condições (piso, teto, parede, mesas e bancos/cadeiras)</td>
        <td align="center" valign="middle"><input type="radio" name="check6_6" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_6" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_6" value="NA"></td>
      </tr>
      <tr>
        <td>Caso as refeições aconteçam em sala de aula, a escola possui carrinho para transportar os alimentos?</td>
        <td align="center" valign="middle"><input type="radio" name="check6_7" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_7" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_7" value="NA"></td>
      </tr>
      <tr>
        <td>Os carrinhos estão em boas condições e em quantidades suficientes</td>
        <td align="center" valign="middle"><input type="radio" name="check6_8" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check6_8" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check6_8" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs6" value="Sim" (click) = "CheckObservationTrue6();" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs6" value="Nao" (click)= "CheckObservationFalse6();"></td>
      </tr>
      <tr *ngIf = "setComment6">
        <td><textarea name="obs6" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>

      <thead>
        <th>Qualidade da Alimentação Escolar</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se Aplica</th>
      </thead>
      <tr>
        <td>A alimentação escolar tem paladar saboroso e gostoso</td>
        <td align="center" valign="middle"><input type="radio" name="check7_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check7_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check7_1" value="NA"></td>
      </tr>
      <tr>
        <td>Os alimentos fornecidos pelo orgão de distribuição do estado são de qualidade</td>
        <td align="center" valign="middle"><input type="radio" name="check7_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check7_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check7_2" value="NA"></td>
      </tr>
      <tr>
        <td>Os cardápios são variados</td>
        <td align="center" valign="middle"><input type="radio" name="check7_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check7_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check7_3" value="NA"></td>
      </tr>
      <tr>
        <td>Os cardápios estão afixados para visualização dos alunos e comunidade escolar</td>
        <td align="center" valign="middle"><input type="radio" name="check7_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check7_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check7_3" value="NA"></td>
      </tr>
      <tr>
        <td>Qual o cardápio mais aceito?</td>
        <td align="center" valign="middle" colspan="3"><input type="text" name="check7_4" value="" required></td>
      </tr>
      <tr>
        <td>Qual o cardápio menos aceito?</td>
        <td align="center" valign="middle" colspan="3"><input type="text" name="check7_5" value="" required></td>
      </tr>
      <tr>
        <td rowspan="">Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs7" value="Sim" (click)="CheckObservationTrue7" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs7" value="Nao" (click)="CheckObservationFalse7"></td>
      </tr>
      <tr *ngIf = "setComment7">
        <td><textarea name="obs7" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>

      <thead>
        <th>Documentação</th>
        <th>Sim</th>
        <th>Não</th>
        <th>Não se Aplica</th>
      </thead>
      <tr>
        <td>Presença de comprovante de limpeza da caixa d'agua(semestral)</td>
        <td align="center" valign="middle"><input type="radio" name="check8_1" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_1" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_1" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de comprovante de limpeza do reservatório de água subterrâneo(semestral)</td>
        <td align="center" valign="middle"><input type="radio" name="check8_2" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_2" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_2" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de registro de potabilidade da água (RDC 275/2002 - ANVISA e RDC 216/2004 - ANVISA)</td>
        <td align="center" valign="middle"><input type="radio" name="check8_3" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_3" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_3" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de comprovante de limpeza da caixa de gordura(quinzenal)</td>
        <td align="center" valign="middle"><input type="radio" name="check8_4" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_4" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_4" value="NA"></td>
      </tr>
      <tr>
        <td>Presença de comprovante de desinsetização e desratização (semestral)</td>
        <td align="center" valign="middle"><input type="radio" name="check8_5" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_5" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_5" value="NA"></td>
      </tr>
      <tr>
        <td>Atestado de Saúde Ocupacional (ASO) em dia e de fácil visualização (anual)</td>
        <td align="center" valign="middle"><input type="radio" name="check8_6" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_6" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_6" value="NA"></td>
      </tr>
      <tr>
        <td>Os manipuladores de alimentos são, comprovadamente, capacitados em cursos sobre higiene alimentar</td>
        <td align="center" valign="middle"><input type="radio" name="check8_7" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_7" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_7" value="NA"></td>
      </tr>
      <tr>
        <td>A prestação de contas (controle diário) está em dia</td>
        <td align="center" valign="middle"><input type="radio" name="check8_8" value="Sim" required></td>
        <td align="center" valign="middle"><input type="radio" name="check8_8" value="Nao"></td>
        <td align="center" valign="middle"><input type="radio" name="check8_8" value="NA"></td>
      </tr>
      <tr>
        <td>Observações</td>
        <td align="center" valign="middle"><input type="radio" name="checkobs8" value="Sim" (click)="CheckObservationTrue8" required></td>
        <td align="center" valign="middle"><input type="radio" name="checkobs8" value="Nao" (click)="CheckObservationFalse8"></td>
      </tr>
      <tr *ngIf = "setComment8">
        <td><textarea name="obs8" rows="8" cols="80" placeholder="Insira a Observação Aqui" required></textarea><td>
      </tr>
    </table>
    <input align = "center"type="submit" name="formData1" value="Enviar">
    </form>
  </body>
</html>
