.navbar {
  background-color: #ff6d00 ;
}

.top-nav-collapse {
  background-color: #fb8c00 ;
}

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 17px;
  color: #ccc;
  display: block;
  transition: 0.5s;
}

.side-nav a:hover{
  color: #fff;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 22px;
  margin-left: 50px;
}

.side-nav .search{
  border-top: 1px solid rgba(255,255,255,.65);
  border-block-end: 1px solid rgba(255,255,255,.65);
  margin-bottom: 30px;
  margin-top: 20px;
}

#main{
  transition:margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

@media(max-width: 568px){
  .navbar-nav{display: none}
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #fb8c00 ;
  }
}

