<br><br><br><br>

<app-search-school></app-search-school>

<br><br>

<div class="container">
  <table class="table">
    <tr class="orange accent-4">
      <th colspan="2">
        <p style="color:#FFFFFF;" class="h4 text-left mb-6">Selecionar Checklist à ser preenchida</p>
      </th>
    </tr>
    <tr>
      <a href="/checklist/1" class="list-group-item list-group-item-action rounded">Lista de fiscalização de boas práticas de produção</a>
      <a href="/checklist/menu" class="list-group-item list-group-item-action col-md-18 rounded">Avaliação dos cardápios</a>
      <a href="/checklist/3" class="list-group-item list-group-item-action col-md-18 rounded">Acompanhamento das Cantinas Particulares</a>
    </tr>
  </table>
</div>

<br><br>