<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><br><br><br>

    <app-search-school></app-search-school>

    <div class="container border rounded col-md-7">

        <div class="row">
          <div class="col-md-3 center"></div>
        <div class="list-group">
          <h2 class="list-group-item-heading list-group-item col-md-18 border border-dark border-warning rounded" align="center">Selecionar Checklist à ser preenchida <br></h2>
          <br>
          <a href="/checklist/1" class="list-group-item list-group-item-action col-md-18 rounded" align="center">Lista de fiscalização de boas práticas de produção</a>
          <a href="/checklist/menu" class="list-group-item list-group-item-action col-md-18 rounded" align="center">Avaliação dos cardápios</a>
          <a href="/checklist/3" class="list-group-item list-group-item-action col-md-18 rounded" align="center">Acompanhamento das Cantinas Particulares</a>
      </div>
      </div>

        <!-- <br>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2"><a href="/checklist/1"><h4>Checklist 1</h4></a></div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6"><button type="button" class="btn btn-outline-warning btn-rounded btn-lg" href="/checklist/menu" mdbRippleRadius><h6>Checklist menu</h6></button></div>
          <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2"><a href="/checklist/3"><h4>Checklist 3</h4></a></div>
          <div class="col-md-3"></div>
        </div> -->
    </div>

  </body>
</html>
