
.tab {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 55%;
}
.color-white{
    color: #FFFFFF;
}

.table-color {
    background-color: #192433;
}

th {
    width: 20px;
    word-wrap: break-word;
    border-radius: 5px;
}