<div clas="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-5">

      </div>
        <h1>Checklist</h1>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <a href="/checklist/1">Lista para verificação de boas práticas alimentares</a>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"><a href="/checklist/menu">AVALIAÇÃO DOS CARDÁPIOS DAS ESCOLAS PARQUE E ESCOLAS CLASSES DA CRE/PPC</a></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7"><a href="/checklist/3">Avaliação dos cardápios das escolas parque e escolas classes da CRE/PPC</a></div>
    </div>
  </div>
