/* You can add global styles to this file, and also import other style files */

html,
body,
header,
.view,
.carousel,
.carousel-item,
.active,
.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/fruits/all-fruits-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("http://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20(2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("http://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20(3).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}