<carousel>
  <slide>
    <img src="http://i66.tinypic.com/2vslqw8.jp" alt="First slide">
    <div class="carousel-caption">
      <h3>TITULO PRIMEIRO SLIDE</h3>
      <p>Observações, notícias e conclusões.</p>
    </div>
  </slide>
  <slide>
    <img src="http://i67.tinypic.com/2yjvy34.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>TITULO SEGUNDO SLIDE</h3>
      <p>Observações, notícias,conclusões, etc, etc ,etc.</p>
    </div>
  </slide>
  <slide>
    <img src="http://i65.tinypic.com/15yx0fd.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>TITULO TERCEIRO SLIDE</h3>
      <p>Observações, notícias e conclusões.</p>
    </div>
  </slide>
</carousel>