<carousel>
  <slide>
    <img src="https://i.imgur.com/twOEoob.jpg" alt="Ajuda Conselheiro">
    <div class="carousel-caption">
      <h1>Ajuda Conselheiro</h1>
      <h5>A aplicação Ajuda Conselheiros é voltada para os integrantes dos conselhos de alimentação escolar de todo o Brasil. O intuito é informatizar a coleta dos dados e fazer a padronização da fiscalização em todo o território nacional.</h5>
    </div>
  </slide>
  <slide>
    <img src="https://i.imgur.com/IvBfqNj.jpg" alt="Programa Nacional de Alimentação Escolar">
    <div class="carousel-caption">
      <h1>Programa Nacional de Alimentação Escolar</h1>
      <h5>O Programa Nacional de Alimentação Escolar (PNAE) oferece alimentação escolar e ações de educação alimentar e nutricional a estudantes de todas as etapas da educação básica pública. </h5>
    </div>
  </slide>
  <slide>
    <img src="https://i.imgur.com/HAfbjO2.jpg" alt="Conselho de Alimentação Escolar">
    <div class="carousel-caption">
      <h1>Conselho de Alimentação Escolar</h1>
      <h5>O Conselho de Alimentação Escolar (CAE) é responsável por acompanhar e fiscalizar diretamente o Programa Nacional de Alimentação Escolar (PNAE), implantado em 1955, que garante, por meio da transferência de recursos financeiros, a alimentação escolar dos alunos de toda a educação básica (educação infantil, ensino fundamental, ensino médio e educação de jovens e adultos) matriculados em escolas públicas e filantrópicas. Seu objetivo é atender as necessidades nutricionais dos alunos durante sua permanência em sala de aula, contribuindo para o crescimento, o desenvolvimento, a aprendizagem e o rendimento escolar dos estudantes, bem como promover a formação de hábitos alimentares saudáveis.</h5>
    </div>
  </slide>
</carousel>
