
<footer class="page-footer center-on-small-only rgba-black-strong tema" style="margin-top:-1%">
    <div class="container-fluid">
      <div class="container mt-5 mb-4 text-center text-md-left">
     <div class="row mt-3">

         <!--First column-->
         <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
             <h6 class="title font-bold"><strong>Ajuda Conselheiro</strong></h6>
             <hr class="orange darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
             <p>A aplicação Ajuda Conselheiros é voltada para os integrantes dos conselhos de alimentação escolar de todo o Brasil. O intuito é informatizar a coleta dos dados e fazer a padronização da fiscalização em todo o território nacional.</p>
         </div>
         <!--/.First column-->

         <!--Second column-->
         <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r">
             <h6 class="title font-bold"><strong>Serviços</strong></h6>
             <hr class="orange darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
             <p><a href="#!">Cartilha</a></p>
             <p><a href="#!">Legislação</a></p>
         </div>
         <!--/.Second column-->

         <!--Third column-->
         <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r">
             <h6 class="title font-bold"><strong>Links Úteis</strong></h6>
             <hr class="orange darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
             <p><a href="http://www.fnde.gov.br/programas/pnae" target="_blank">Programa Nacional de Alimentação Escolar</a></p>
             <p><a href="http://www.fnde.gov.br/programas/pnae/pnae-eixos-de-atuacao/pnae-conselho-de-alimentacao-escolar-cae" target="_blank">Conselho de Alimentação Escolar</a></p>
             <p><a href="http://portal.tcu.gov.br/inicio/index.htm" target="_blank">Tribunal de Contas da União</a></p>
         </div>
         <!--/.Third column-->

         <!--Fourth column-->
         <div class="col-md-4 col-lg-3 col-xl-3">
             <h6 class="title font-bold"><strong>Contato</strong></h6>
             <hr class="orange darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
             <p><i class="fa fa-home mr-3"></i>Secretaria de Controle Externo da Educação, da Cultura e do Desporto </p>
             <p><i class="fa fa-phone mr-3"></i>(61) 3316-7352</p>
             <p><i class="fa fa-print mr-3"></i>(61) 3316-7535</p>
         </div>
         <!--/.Fourth column-->

     </div>
 </div>
    </div>

    <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
</footer>
