<footer class="footer">
    
        <div class="table">
            <td class="text-camp">
                <br>
                <h6 class="title font-bold"><strong>Ajuda Conselheiro</strong></h6>
                <hr align="center" width="50%">
                <br>
                <p>A aplicação Ajuda Conselheiros é voltada para os integrantes dos conselhos de alimentação escolar de todo o Brasil.
                    O intuito é informatizar a coleta dos dados e fazer a padronização da fiscalização em todo o território nacional.</p>
            </td>
    
            <td class="text-camp">
                <br>
                <h6 class="title font-bold"><strong>Serviços</strong></h6>
                <hr/>
                <br>
                <p>
                    <a href="https://portal.tcu.gov.br/lumis/portal/file/fileDownload.jsp?fileId=8A8182A25BB1C0B6015BD4D20B2666EF">
                        <font color="FFFFF">Cartilha do Conselho de Alimentação Escolar</font>
                    </a>
                </p>
                <p>
                    <a href="http://www.fnde.gov.br/programas/pnae/pnae-sobre-o-programa/pnae-legislacao" target="_blank">
                        <font color="FFFFF">Legislação do Programa Nacional de Alimentação Escolar</font>
                    </a>
                </p>
            </td>
    
            <td class="text-camp">
                <br>
                <h6 class="title font-bold"><strong>Links Úteis</strong></h6>
                <hr>
                <br>
                <p>
                    <a href="http://www.fnde.gov.br/programas/pnae" target="_blank">
                        <font color="FFFFF">Programa Nacional de Alimentação Escolar</font>
                    </a>
                </p>
                <p>
                    <a href="http://www.fnde.gov.br/programas/pnae/pnae-eixos-de-atuacao/pnae-conselho-de-alimentacao-escolar-cae"
                        target="_blank">
                        <font color="FFFFF">Conselho de Alimentação Escolar</font>
                    </a>
                </p>
                <p>
                    <a href="http://portal.tcu.gov.br/inicio/index.htm" target="_blank">
                        <font color="FFFFF">Tribunal de Contas da União</font>
                    </a>
                </p>
            </td>
    
            <td class="text-camp">
                <br>
                <h6 class="title font-bold"><strong>Contato</strong></h6>
                <hr>
                <br>
                <p><i class="fa fa-home mr-3"></i>Secretaria de Controle Externo da Educação, da Cultura e do Desporto </p>
                <p><i class="fa fa-phone mr-3"></i>0800 616161 - opção 1 - para assuntos do FNDE</p>
                <p><i class="fa fa-phone-square mr-3" aria-hidden="true"></i>TCU (Tribunal de Contas da União) - 0800 644 1500
                </p>
            </td>
    
        </div>
    
        <div class="footer-end">
            <a href="https://github.com/fga-gpp-mds/2017.2-AjudaConselheiro-Frontend/blob/TS%23128/LICENSE" target="_blank">
                <font color="FFFFF">Ajuda Conselheiro - License GPLv3</font>
            </a>
        </div>
    </footer>