<app-navbar></app-navbar>
<br><br>


<app-carousel></app-carousel>
<div class="one">
    <br><br>
    <p class="h1 text-center mb-6">CAE?</p>
    <br><br>
    <div class="container">
        <div class="row">
            <h4>O Conselho de Alimentação Escolar (CAE) é responsável por acompanhar e fiscalizar diretamente o Programa Nacional de Alimentação Escolar (PNAE), implantado em 1955, que garante, por meio da transferência de recursos financeiros, a alimentação escolar dos alunos de toda a educação básica (educação infantil, ensino fundamental, ensino médio e educação de jovens e adultos) matriculados em escolas públicas e filantrópicas. Seu objetivo é atender as necessidades nutricionais dos alunos durante sua permanência em sala de aula, contribuindo para o crescimento, o desenvolvimento, a aprendizagem e o rendimento escolar dos estudantes, bem como promover a formação de hábitos alimentares saudáveis.</h4>
        </div>
    </div>    
    
</div>
<div class="two">
        <blockquote class="blockquote bq-warning">
                <p class="bq-title"><strong>AJUDE A COMUNIDADE E SE TORNE UM CONSELHEIRO!</strong></p>
                <p><strong>Oque faz um conselheiro do CAE?</strong></p>
                <p><strong>Como posso ajudar?</strong></p>
                <p><strong>Qual a importância da participação na comunidade escolar?</strong></p>
            </blockquote>  
          
</div>



        

