<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container col-md-12 border rounded border-dark border-top-0 border-bottom-0">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-4"></div>
            <div class="col-md-3"></div>
        </div>
       <div class="row">
        <div class="col-md-4 center"></div>
            <div class="list-group">
            <h2 class="list-group-item-heading list-group-item col-md-18 border border-dark border-warning rounded" align="center">  Selecionar Conselho <br></h2>
            <br>
            <a href="/conselho/cadastrar" class="list-group-item list-group-item-action col-md-18 rounded" align="center"><h6 align="center" valign="center">Novo Conselho</h6></a>
            <a href="/conselho/buscar" class="list-group-item list-group-item-action col-md-18 rounded" align="center"><h6 align="center" valign="center">Conselho Existente</h6></a>
        </div>
       </div> 
    </div>
    <a href="" class="btn btn-deep-orange backButton" align="center">
        <span class="glyphicon glyphicon-chevron-left " aria-hidden="false"></span>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true">
    </i>Voltar</a>
    <br>
    <br>
    <br>
    <br>
    

</body>
</html>