<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <br><br><br><br><br>
  <div class="container tab" style="width: 50%;">
    <table class="table">
      <tr class="table-color">
        <th colspan="2" style="background-color: #192433">
          <p class="h4 color-white text-center mb-6" style="background-color: #192433; color: #fff;"> Selecione opção para navegar em conselhos</p>
        </th>
      </tr>
      <tr>
        <a href="/conselho/cadastrar" class="list-group-item list-group-item-action text-center col-md-18 rounded">Cadastrar um conselho</a>
        <a href="/conselho/buscar" class="list-group-item list-group-item-action text-center col-md-18 rounded">Buscar conselho para solicitar participação</a>
      </tr>
    </table>
  </div>
</body>
</html>
<br><br><br><br><br>

